.DS_Store
venv
.env
.pytest_cache
**/__pycache__/
.coverage

keys/

**/.terraform/
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.backup

terraform-lambda-deployment/layer/
terraform-lambda-deployment/lambda_function.zip
terraform-lambda-deployment/aws_gdpr_guard_layer.zip

terraform-ec2-deployment/terraform.tfvars
terraform-ec2-deployment/aws_gdpr_guard.zip
terraform-ec2-deployment/keys/